@if (api.currentRoom) {
    <div class="player-container player-container-x" [style]="{
        backgroundColor: api.currentRoom.currentTurnChar == 88 ? '#FFAAAA' : '#F0F0F0'
    }">
        @if (api.currentRoom.playerX) {
            <div class="player-container-playername">{{api.currentRoom.playerX.name}}</div>
        }
        @else {
            <div class="player-container-switch" (click)="SwitchToX()">Switch To X</div>
        }
        <div class="player-container-char">X</div>
    </div>
    <div class="player-container player-container-o" [style]="{
        backgroundColor: api.currentRoom.currentTurnChar == 79 ? '#AAAAFF' : '#F0F0F0'
    }">
        <div class="player-container-char">O</div>
        @if (api.currentRoom.playerO) {
            <div class="player-container-playername">{{api.currentRoom.playerO.name}}</div>
        }
        @else {
            <div class="player-container-switch" (click)="SwitchToO()">Switch To O</div>
        }
    </div>
}